{% extends "sponsor/base_backoffice.html" %} 

{% block wrapper %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ object.name }}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <p>Name : {{ object.name }}</p>
    <p>Author : {{ object.author }}</p>
    <p>Remaining views : {{ object.remaining_views }}</p>
    <p>Number of views : {{ object.number_views }}</p>
    <p>Number of views from different users : {{ object.number_views_different_user }}</p>
  </div>
</div>
{% endblock %}
